.menu__open-popup {
    width: 24px;
    height: 24px;
    margin: 0;
    background-image: url("../../../img/Vector1.png");
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__open-popup:hover {
    opacity: 0.6;
}

@media screen and (max-width: 400px) {
    .menu__open-popup {
      background-image: url("../../../img/kar.png");
      width: 18px;
      height: 18px;
    }
}