.header__logo {
    width: 142px;
    height: 33px;
    background-image: url("../../../img/Vector.png");
    background-repeat: no-repeat;
    margin-bottom: 41px;
}

@media screen and (max-width: 880px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin-bottom: 32px;
        background-image: url("../../../img/mestoo.png");
    }
}