.profile__edit-btn {
    width: 24px;
    height: 24px;
    margin: 0;
    background-image: url("../../../images/Vector.svg");
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    align-self: center;
}

.profile__edit-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 400px) {
    .profile__edit-btn {
      background-image: url("../../../images/Vector(1).svg");
      width: 18px;
      height: 18px;
    }
}