.popup__caption {
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    max-width: 291px;
    align-self: start;
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
}