.profile__info-subtitle {
    max-width: 336px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 910px) {
    .profile__info-subtitle {
       margin-left: 27px;
    }
}

@media screen and (max-width: 760px) {
    .profile__info-subtitle {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 31px;
        margin: 0;
        align-self: center;
    }
}