.popup__wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    padding: 34px 86px 0 35px;
    position: relative;
    transition: .3s;
}

@media screen and (max-width: 500px) {
    .popup__wrapper {
        width: 282px;
        padding: 0 22px;
        padding-bottom: 22px;
        padding-top: 25px;
    }
}